if condition:
    expression

In [1]:
z=4
if(z%2==0):
    print("z is even")

z is even

In [2]:
z=5
if(z%2==0):
    print('z is even')
else:
    print('z is odd')

z is odd

In [6]:
z=4.5
if(z%2==0):
    print('z is divisible by 2')
elif(z%3==0):
    print('z is divisible by 3')
else:
    print('z is not divisible by either 2 or 3')

z is not divisible by either 2 or 3

When you pass a Series of True/False values to a DataFrame's selection operator ([]), pandas goes through the DataFrame row by row. It keeps a row if the corresponding value in the Series is True and discards it if the value is False.

In [7]:
import pandas as pd
df = pd.read_csv('data.csv',index_col=0)
print(df)

     country capital  population
BR    brazil       a           1
RU    russia       b           2
IN     india       c           3
PA  pakistan       d           4

In [9]:
df['population']>2

BR    False
RU    False
IN     True
PA     True
Name: population, dtype: bool

In [10]:
df[df['population']>2]

     country capital  population
IN     india       c           3
PA  pakistan       d           4

In [12]:
import numpy as np
df[np.logical_and(df['population']>2,df['population']<4)]

   country capital  population
IN   india       c           3

In [13]:
np.sum(df['population'])

np.int64(10)

In [15]:
df['population'].dtype

dtype('int64')