In [2]:
import pandas as pd
dict = {
    "country":["brazil","russia","india","pakistan"],
    "capital":["a","b","c","d"],
    "population":[1,2,3,4],
}
brics = pd.DataFrame(dict)

In [3]:
print(brics)
brics.index=['BR','RU','IN','PA']
print(brics)

    country capital  population
0    brazil       a           1
1    russia       b           2
2     india       c           3
3  pakistan       d           4
     country capital  population
BR    brazil       a           1
RU    russia       b           2
IN     india       c           3
PA  pakistan       d           4

In [6]:
df = pd.read_csv('data.csv',index_col=0)
print(df)

     country capital  population
BR    brazil       a           1
RU    russia       b           2
IN     india       c           3
PA  pakistan       d           4

In [8]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {
    "country":names,
    "drives_right":dr,
    "cars_per_cap":cpc
}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [10]:
#access column
cars['country']

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [12]:
type(cars['country'])

pandas.core.series.Series

In [13]:
type(cars[['country']])

pandas.core.frame.DataFrame

In [ ]:
#selecting multiple columns using double square bracets
cars[['country','drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [14]:
#rows access
cars[1:4]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

In [17]:
cars.loc['RU']

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [30]:
cars.loc[['RU']]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [32]:
cars.loc[['RU','JPN']]

    country  drives_right  cars_per_cap
RU   Russia          True           200
JPN   Japan         False           588

In [20]:
cars.loc[['RU','JPN'],['country','drives_right']]

    country  drives_right
RU   Russia          True
JPN   Japan         False

In [21]:
cars.loc[:,['country','drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [24]:
cars.iloc[[1,2,3,0]]

           country  drives_right  cars_per_cap
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
US   United States          True           809

In [25]:
cars.iloc[:,[0,1]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [28]:
cars.iloc[1:3,0:1]

       country
AUS  Australia
JPN      Japan

In [33]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[:, ['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True